<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1>Add</h1>
        <div class="box">
            <form action="/add" id="form" method="POST" enctype="multipart/form-data">
                <input type="text" id="title" name="title" placeholder="name" required>
                <input type="text" id="category" name="category" placeholder="category" id="" rq>
                <input type="text" id="price" name="price" placeholder="price">
                <input type="text" id="type" name="type" placeholder="type">
                <input type="file" id="img1" name="img" id="" placeholder="image 1">
                <input type="file" id="img2" name="img" id="" placeholder="image 2">
                <input type="text" id="size" name="size" placeholder="size" id="">
                <br>
                <textarea name="description" placeholder="description" id="textArea" cols="30" rows="10"></textarea>
                <button id="form-submit">click</button>
            </form>
        </div>
        <div class="box">
            <h1>remove</h1>
            <div class="remove-iteme">
                <% for(product in products) { %>
                    <div>
                        <%=products[product].title%> <a href="/remove/?title=<%= products[product].title%>" >remove</a>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    const textToParagraph = (str) => {
    let result = ""
    const lines = str.split('\n')
    const paragraphArray = lines.map(item => 
        result += "<p>"+item+"</p>"
    )
    return result
}
    document.querySelector('#form-submit').addEventListener('click',(e)=>{
        e.preventDefault()
        const textArea = document.getElementById('textArea')
        textArea.value = textToParagraph(textArea.value)
        console.log(textArea.value)
        const form = document.getElementById('form').submit()
})
</script>