<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1>Add</h1>
        <div class="box">
            <form action="/add" method="POST">
                <input type="text" name="title" placeholder="name" required>
                <input type="text" name="category" placeholder="category" id="" rq>
                <input type="text" name="price" placeholder="price">
                <input type="text" name="type" placeholder="type">
                <input type="text" name="img1" id="" placeholder="image 1">
                <input type="text" name="img2" id="" placeholder="image 2">
                <input type="text" name="size" placeholder="size" id="">
                <br>
                <textarea name="description" placeholder="description" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="submit">
            </form>
        </div>
        <div class="box">
            <h1>remove</h1>
            <div class="remove-iteme">
                <% for(product in products) { %>
                    <div>
                        <%=products[product].title%> <a href="/remove/?title=<%= products[product].title%>" >remove</a>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>
